# Workflow label
name: Build and publish to NPM

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  publish:
    name: Publish to NPM
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: 14
      - run: npm install
      - run: npm test
      - uses: JS-DevTools/npm-publish@v1 # https://github.com/JS-DevTools/npm-publish
        with:
          token: ${{ secrets.NPM_TOKEN }}
